
<div class="container">
	<button class="btn btn-primary">btn primary</button>
	<p>123</p>
	<p>123</p>
	<p>123</p>
	<p>123</p>
	<p>123</p>
	<p>123</p>
	<p>123</p>
	<p>123</p>
	<p>123</p>
	<p>123</p>
	<img class="avatar" src="/static/img/avatar.jpg" alt="">
</div>


