<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" /> 
    <meta name="renderer" content="webkit" />
    <% meta.forEach(function(item){ %>
        <%=item%>
    <% }) %>
	<title><%=title%></title>
    <link rel="stylesheet" href="/static/lib/weui.min.css">
    <link rel="stylesheet" href="/static/lib/jquery-weui.min.css">
    <script type="text/javascript" src="/static/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/jquery-weui.min.js"></script>
</head>
<body>
	<%=content%>
</body>
</html> 